.default-box {
	border-radius: 25px;
	font-family: 'Balsamiq Sans', cursive;
	font-size: 9vmin;
	line-height: 130px;
	font-weight: 700;
	text-align: center;
	color: #d4d3d3;
	border: 5px solid;
	border-color: #fff;
	cursor: pointer;
	&:hover {
		color: #8a8a8a;
	}
	&__number {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}
}